# Ignore Python bytecode
__pycache__
*.pyc

# Ignore virtual environment
venv/*

# Ignore Log file
*.Log

# Ignore Visual Studio Code
.vscode/*

# Ignore User uploaded files
app/static/uploads/*

# Do not ignore datahub module
!app/static/uploads/datahub.py