# machine-specific config files
config.json

# Ignore Python bytecode
__pycache__
*.pyc

# Ignore virtual environment
venv/*

# Ignore Log file
*.Log

# Raspberry Pi .gitignore
__pycache__
*.mp3
*.wav
*.jpg