# Ignore Python bytecode
__pycache__
*.pyc

# Ignore virtual environment
venv/*

data/*

# Ignore Log file
*.Log

# Ignore User uploaded files
app/static/uploads/*


# Raspberry Pi .gitignore
__pycache__
*.mp3
*.wav
*.jpg