numpy>=1.19.0
requests==2.24.0
picamera>=1.13

# RTIMULib is not listed a dependency of sense-hat. There is currently an issue open on this:
# https://github.com/astro-pi/python-sense-hat/issues/58#issuecomment-624958208
RTIMULib==7.2.1
sense-hat>=2.2.0

redis==3.5.3
redistimeseries>=1.4.3

python-socketio[client]>=5.3.0