<div class="modal-header">
    <h5 class="modal-title" id="algorithmModalTitle">Algorithms</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <h5>Delete Algorithm</h5>
    <p>Are you sure you want to delete this algorithm? This will permanently erase your algorithm.</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary availableAlgorithmsDeleteCancelButton">Cancel</button>
    <button type="button" class="btn btn-danger availableAlgorithmsDeleteConfirmButton">Delete</button>
</div>

<script src="../static/JS/algorithms.js"></script>