h1 {
    margin: 0px;
    color: white;
    background-color: rgba(0, 0, 0, .70);
    width: fit-content;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    padding: auto;
    opacity: .95;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: .75em;
}

.gradient-background {
    background-image: linear-gradient(to bottom right, #18453b, white);
}

.center-contents {
    text-align: center;
}

.logo {
    max-width: 45%;
	height: auto;
}

.header {
    box-shadow: 0px 3px 5px 0px rgba(21, 39, 48,0.075);
    padding-bottom: 1em;
}


body {
    background-image: linear-gradient(to bottom right, #18453b, white);
    margin: 0px;
}

#new-session {
    display: block;
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    color: rgb(27, 53, 39);
    transition: all .175s ease-in-out;
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: rgba(24, 90, 59, 0.20);
}

#new-session:hover {
    background-color: rgba(255, 255, 255, 0.35);
    cursor: pointer;
}

.action-buttons {
    float: right;
    width: fit-content;
}

#entries {
    text-align: center;
}

section {
    padding-top: 1em;
}


.session-info {
    margin-left: 1.5em;
}


.session-name {
    font-size: 1.4em;
    color: rgba(50, 50, 50, 0.90);
    margin-top: 0.50em;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: auto;
    margin-right: auto;

    border-right: 2px solid rgba(20, 48, 72, 0.07);
    border-bottom: 2px solid rgba(20, 48, 72, 0.07);
    border-radius: 6px;
    transition: all .175s ease-in-out;
    text-decoration: none;
    background-color: rgba(192, 192, 192, .10);
}

.label-spacing {
    display: inline-block;
    margin-top: 1em;
}

input {
    border: 2px solid rgba(192, 192, 192, 0.80);
    border-radius: 4px;
}

.entry {
    display: inline-block;
    height: 10em;
    width: 50%;
    max-width: 35em;
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 0px 5px 5px 0px rgba(21, 39, 48, 0.25);
}

.editing {
    height: 25em;
}

.hide-overflow {
    max-height: 4em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.location {
    margin-top: 5px;
    margin-bottom: 10px;
}

.info {
    max-height: 100%;
    margin-left: 2em;
}

.date-spacer {
    margin-left: .5em;
    margin-right: .5em;
}

.edit-mode {
    margin-bottom: 1.25em;
}

p {
    display: block;
    margin-bottom: 1em;
}

input {
    display: inline;
}

textarea {
    resize: none;
    width: 40%;
}

.delete-entry-btn {
    width: 2em;
    height: 2em;
    background-color: rgba(192, 192, 192, .35);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    background-size: 2em;
    object-fit: cover;
    right: 1em;
    bottom: 1.25em;
    transition: all 1.0s;
    transition-timing-function: ease-out;
}

.delete-entry-btn:hover {
    background-color: rgba(255, 0, 0, .20);
}

.edit-entry-btn {
    width: 2em;
    height: 2em;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    background-size: 2em;
    object-fit: cover;
    right: 6em;
    bottom: 1.25em;
    background-color: rgba(192, 192, 192, .35);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1.0s;
    transition-timing-function: ease-out;
}

ul {
    list-style: square outside url("https://cdn.bitdegree.org/learn/list-style-image-marker-1.png?426d93cd");
}

.edit {
    background-image: url("http://www.paradigm.mp/images/edit-entry.png");
}

.save {
    background-image: url("http://www.paradigm.mp/images/save.png");
}

.delete {
    background-image: url("http://www.paradigm.mp/images/trash-icon.png");
}

.cancel {
    background-image: url("http://www.paradigm.mp/images/cancel-icon.png");
}

.save:hover {
    background-color: rgba(0, 255, 0, .20);
}

a:hover {
    cursor: pointer;
}

.bordered-button {
    color: rgb(51, 122, 183);
    border: 2px solid rgba(20, 48, 72, 0.07);
    border-radius: 6px;
    transition: all .175s ease-in-out;
    text-decoration: none;
    padding: 3px;
    background-color: rgba(192, 192, 192, .10);
}

.add-btn {
    margin-left: 1em;
}

.start-date {
    width: 8.2em;
}

.end-date {
    width: 8.2em;
}






#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.34);
    display: none;
}

#new-session-modal {
    z-index: 9999;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 29em;
    height: 46em;
    cursor: default;
    transition: all .175s ease-in-out;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 0.90em;
    background-color: rgba(240, 240, 240, 0.975);
    border: 2px solid rgba(3, 3, 3, 0.40);
    border-radius: 6px;
}

.modal-title {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.25em;
    text-align: center;
}

.full-line {
    display: block;
    margin-bottom: .70em;
}

label {
    margin-top: 1em;
    margin-left: 7%;
    text-align: center;
}

#create-map {
    width: auto;
    height: 10em;
    transform: translate(-50%,0%);
    margin-left: 50%;
    margin-top: .75em;
    text-align: center;
    overflow: hidden;
}

#options {
    margin-left: 7%;
}

select {
    margin-right: 1em;
    min-width: 12em;
}

.block {
    display: block;
}

a {
    color: rgb(51, 122, 183);
    border: 2px solid rgba(20, 48, 72, 0.07);
    border-radius: 6px;
    transition: all .175s ease-in-out;
    text-decoration: none;
    padding: 3px;
    background-color: rgba(192, 192, 192, .10);
}

a:hover {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.full-width {
    display: block;
    margin: auto;
    width: 86%;
}

.half-width {
    width: 22%;
}

.inline-label {
    margin-right: .5em;
}

#add-btn {
    padding-left: 2em;
    padding-right: 2em;
}

#submit-btn {
    display: block;
    margin-top: 2.5em;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center {
    margin-top: 1em;
    text-align: center;
}

textarea {
    display: inline-block;
    transform: translate(0%,35%);
    width: 19em;
    resize: none;
}

.breaker {
    display: none;
}

