<!DOCTYPE html>
{% extends "base.html" %}

{% block app_content %}

    <div class = "row p-2 justify-content-start ">

        <div class="col-3">
            <div class = "card w-100 bg-light rounded">
                <div class = "card-header p-0 text-center">
                    Date Selection
                </div>
                <div class = "card-body p-1"></div>
            </div>
        </div>

        <div class="col-6">
            <div class = "card w-100 bg-light rounded">
                <div class = "card-header p-0 text-center">
                    Video Data
                </div>
                <div class = "card-body p-1"></div>
            </div>
            <div class = "col mt-1 border border-dark rounded">
                <div class = "card-header text-left">
                    Elapsed Time:
                </div>
            </div>
        </div>
        
        <div class="col-3">
            <div class = "card w-100 bg-light rounded">
                <div class = "card-header p-0 text-center">
                    Sensor Selection
                </div>
                <div class = "card-body p-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultChecked">Video</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultChecked">Audio</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultChecked">Temperature</label>
                    </div>
                </div>
            </div>
            <div class = "card w-100 mt-1 bg-light rounded">
                <div class = "card-header p-0 text-center">
                    Audio Data
                </div>
                <div class = "card-body p-1"></div>
            </div>
        </div>
    </div>


   

{% endblock %}