<!doctype html>
{% extends "base.html" %}

{% block app_content %}

    <div class = "row p-2 justify-content-start ">

        <div class="col-3">
            <div class = "card w-100 bg-light rounded">
                <div class = "card-header p-0 text-center">
                    Date Selection
                </div>
                <div class = "card-body p-1 text-center">
                    {% for session in sessions %}
                        <p><a href="{{url_for('archive', archive_id=session.id)}}">{{ session.time }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-6">
            <div id="video-archives" class="card w-100 bg-light rounded">
                <div class = "card-header p-0 text-center">
                    Video Data
                </div>
                <div class = "card-body p-1">
                    <img src="{{ url_for('session_feed', session_id=session_id) }}" width = "100%">
                </div>
            </div>
            <div class = "col mt-1 border border-dark rounded bg-white">
                <div class = "card-header text-left bg-white">
                    Elapsed Time: 00:34:27
                </div>
            </div>
        </div>
        
        <div class="col-3">
            <div class = "card w-100 bg-light rounded">
                <div class = "card-header p-0 text-center">
                    Sensor Selection
                </div>

                <div class = "card-body p-1">
                    <div class = "row">
                        <div class = "col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultChecked1">
                                <label class="custom-control-label" for="defaultChecked1">Video</label>
                            </div>
                        </div>
                        <div class = "col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="audCheck">
                                <label class="custom-control-label" for="audCheck">Audio</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class = "col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tempCheck">
                                <label class="custom-control-label" for="tempCheck">Temperature</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "card w-100 mt-1 bg-light rounded">
                <div class = "card-header p-0 text-center">
                    Audio Data
                </div>

                <div class="card-body p-1">
                    <div class="row">
                        <div class="col">
                            Streaming Audio
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col text-right" id="decibels_archives">
                            Current dB: --
                        </div>
                    </div>
                </div>
            </div>

            <div class = "card w-100 mt-1 bg-light rounded">
                <div class = "card-header p-0 text-center">
                    Sense HAT Data
                </div>

                <div class = "card-body p-1">
                    <div class="row">
                        <div class="col-9">
                            Temperature:
                        </div>
                        <div class="col-3 text-right" id="roomTemperature_archives">
                            --.-
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-9">
                            Air Pressure (millibars):
                        </div>
                        <div class="col-3 text-right" id="airPressure_archives">
                            --.-
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-9">
                            Air Humidity (%):
                        </div>
                        <div class="col-3 text-right" id="airHumidity_archives">
                            --.-
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}