<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <title>Data Hub</title>
    </head>
    <body>
        <div>Data Hub
            <a href="{{url_for('index')}}">Index</a>
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('livefeed')}}">Live Feed</a>
            <a href="{{url_for('archives')}}">Archives</a>

        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>