<!doctype html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
  <nav>
    <h1>{{ self.title() }}</h1>
    <ul>
      <li>{% block back %}{% endblock %}
      {% if session.get('username') %}
        <li><span>{{ session.get('username') }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>
