
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/home.css')}}">
    <script src="../static/JS/home_page.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <title>Data Hub</title>
  </head>
  <body>
        <div class="header width-fill gradient-background center-contents ">
            <img src="../static/images/logo.png" class="logo">
            <a href="/livefeed" id="new-session">Start New Live Stream</a>
        </div>

        <section id="entries">
            {% for session in sessions_view_data %}
            <div id="entry{{session.id}}" class="entry">
                <a href="archived/session/{{session.id}}" class="session-name"><strong>{{session.name}}</strong></a>
                <p class="session-info"><strong>Date: </strong><i>{{session.start_date}}</i> to <i>{{session.end_date}}</i></p>
                <p style="max-width: 60%;" class="session-info"><strong>Sensors Used: </strong>{{session.sensor_list}}</p>
                <div class="action-buttons">
                    <a onclick="delete_session({{session.id}});" class="delete-entry-btn delete bordered-button"></a>
                    <a class="edit-entry-btn edit bordered-button"></a>
                </div>
            </div>
            {% endfor %}
        </section>

        <div id="overlay">
            <div id="new-session-modal">
                <p class="modal-title"><strong>Live Stream Configuration</strong></p>
                <br>

                <label>Name: </label>
                <input class="full-width" name="title" type="text">
            
                <label class="label-spacing">Video: </label>
                <a class="delete-entry-btn delete bordered-button"></a>
                <div id="options">
                    <ul>
                        <li>
                            <p>Video1</p>
                            <a class="edit bordered-button"></a>
                        </li>
                    </ul>
                </div>
            
                <label class="inline-label">Notes: </label>
                <textarea rows="3"></textarea>
            
                <a id="submit-btn">Submit</a>
            </div>
        </div>
  </body>
</html>