{% extends 'base.html' %}
{% block title %}Control Center{% endblock %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" charset="utf-8">
    function log(msg) {
        // logs a message to console and to the log div
        console.log(msg)
        $('.logs > p').prepend('> ' + msg + '<br>');  // append a message to the log
    }

    $(document).ready(function() {
        namespace = '/browser';  // namespace for talking with front-end server
        var socket = io(namespace);
        var selected_file = ""  // currently selected file

        socket.on('connect', function() {
            log("SocketIO connected to server");
        });

        socket.on('disconnect', function() {
            log("SocketIO disconnected from server");
        });

        socket.on('log', function(msg) {
            log(msg);
        });

        socket.on('update_pages', function(data) {
            // data is a list of dictionaries with info on each stream
            console.log("getting update");
            $('.streams ul').empty()
            data.forEach(function(info) {
                $('.streams ul').append(`<li><a href='/stream?group=${info['name']}'>${info['name']}</a></li>`);
            });
        });

        socket.on('update_files', function(data) {
            // data is a list of file names
            console.log("getting data directory update");
            $('.files ul').empty()
            data.forEach(function(filename) {
                $('div.files ul').append(`<li>${filename}</li>`);
            });

            // each file name will set the selected_file variable with its own filename
            $('div.files li').on('click', function(event) {
                $("div.files.selected").removeClass('selected');  // unset selected form prev
                $(event.target).addClass('selected')  // set selected
                selected_file = $(event.target).text();  // set currently selected file
                log("selected: "+selected_file);
            });
        });

        socket.on('update_buttons', function(data) {
            // data is a list of dictionaries with updated values of some buttons
            console.log("getting button update");
            data.forEach(function(info) {
                console.log(info);
            });
        });

        // each command button emits an event to the server
        $('div.commands button.command').on('click', function(event) {
            socket.emit(event.target.value);
        });

        // each file option button emits an event to the server with the currently selected file name
        $('div.file_options button.command').on('click', function(event) {
            socket.emit(event.target.value, file);
        });

    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="commands">
        <button class="command" value="initialize" title="Initialize the database">Init</button>
        <button class="command" value="start"      title="Start all connected streams">Start</button>
        <button class="command" value="stop"       title="Stop all connected streams">Stop</button>
        <button class="command" value="save"       title="Stop streams and save database file">Save</button>
        <button class="command" value="refresh"    title="Force refresh page items">Refresh</button>
        <button class="command" value="live"       title="Switch back to current live streams">Live</button>
    </div>

    <div class="streams">
        <h3>Connected Streams</h3>
        <ul></ul>
    </div>

    <div class="files">
        <h3>Saved Database Files</h3>
        <div class="file_options">
            <button class="command" value="load" title="Load selected file for playback">Load</button>
            <button class="command" value="rename" title="Rename selected file">Rename</button>
            <button class="command" value="delete" title="Delete selected file">Delete</button>
        </div>
        <ul></ul>
    </div>

    <div class="logs">
        <h3>Logs</h3>
        <p></p>
    </div>
</div>

{% endblock %}
