<!DOCTYPE html>
{% extends "base.html" %}

{% block app_content %}

    <div class="row justify-content-center">
        <div class="col-2 mt-1 border border-dark rounded">
            Elapsed Time: 
        </div>
    </div>

    <div class="row justify-content-start">

        <div class="col-6 m-1">
            
            <div class="row">

                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Video
                    </div>
                    <img src="../static/images/mock_vid.png">
                </div>

            </div>

        </div>

        <div class="col m-1">

            <div class="row justify-content-center mb-1">
                
                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Temperature Data
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col-8">
                                Room Temperature:
                            </div>
                            <div class="col-4 text-right">
                                72.3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                Skin Temperature (Subject 1):
                            </div>
                            <div class="col-4 text-right">
                                72.3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                Skin Temperature (Subject 2):
                            </div>
                            <div class="col-4 text-right">
                                72.3
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-1">

                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Audio Data
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col">
                                Streaming Audio
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col text-right">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="currentDbCheck">
                                    <label class="custom-control-label" for="currentDbCheck">Current dB</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col m-1">

            <div class="row mb-1">

                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Sensor Controls
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="audioSwitch1">
                                    <label class="custom-control-label" for="audioSwitch1">Audio 1</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="audioSwitch2">
                                    <label class="custom-control-label" for="audioSwitch2">Audio 2</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="videoSwitch1">
                                    <label class="custom-control-label" for="videoSwitch1">Video 1</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="videoSwitch2">
                                    <label class="custom-control-label" for="videoSwitch2">Video 2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row mt-1">

                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Trigger Settings
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col-8">
                                Average Pixel Intensity:
                            </div>
                            <div class="col-4 text-right">
                                72.3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                Audio (dB):
                            </div>
                            <div class="col-4 text-right">
                                72.3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                Temperature (&#8457):
                            </div>
                            <div class="col-4 text-right">
                                72.3
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-1">

                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Trigger Watch
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">All</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Video</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">Audio</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">Temperature</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> 

        </div> 

    </div>


    <div class="row justify-content-start">

        <div class="col-6 m-1 p-0">
            
            <div class="card w-100">
                <div class="card-header p-0 text-center">
                    Event Log
                </div>
                <div class="card-body p-1">

                </div>
            </div>

        </div> 

    </div>

{% endblock %}