<!doctype html>
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="row justify-content-center">
        <div class="col-2 mt-1 bg-white border border-dark rounded">
            Elapsed Time: 01:32:17
        </div>
    </div>

    <div class="row justify-content-start">

        <div class="col-6 m-1">
            
            <div class="row">

                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Video
                    </div>
                    <img src="{{ url_for('video_feed') }}">
                </div>

            </div>

        </div>

        <div class="col m-1">

            <div class="row justify-content-center mb-1">
                
                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Temperature Data
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col-8">
                                Room Temperature:
                            </div>
                            <div class="col-4 text-right">
                                72.3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                Skin Temperature (Subject 1):
                            </div>
                            <div class="col-4 text-right">
                                93.2
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                Skin Temperature (Subject 2):
                            </div>
                            <div class="col-4 text-right">
                                94.1
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-1">

                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Audio Data
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col">
                                Streaming Audio
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col text-right">
                                Current dB: 60 dB
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col m-1">

            <div class="row mb-1">

                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Sensor Controls
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="videoSwitch1">
                                    <label class="custom-control-label" for="videoSwitch1">Video 1</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="audioSwitch1">
                                    <label class="custom-control-label" for="audioSwitch1">Audio 1</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="senseSwitch1">
                                    <label class="custom-control-label" for="senseSwitch1">Sense 1</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row mt-1">

                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Trigger Settings
                    </div>
                    <div class="card-body p-1">

                        {#
                        <div class="row">
                            <div class="col-8">
                                Audio (dB):
                            </div>
                            <div class="col-4 text-right">
                                72.3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                Temperature (&#8457):
                            </div>
                            <div class="col-4 text-right">
                                72.3
                            </div>
                        </div>
                        #}




                        <div class="row">
                            <div class="col">
                                
                                <form action="" method="post" novalidate>
                                    {{ form.hidden_tag() }}
                                    <p>
                                        {{ form.audio.label }}
                                        {{ form.audio(size=5) }}
                                    </p>
                                    <p>
                                        {{ form.temperature.label }} 
                                        {{ form.temperature(size=5) }}
                                    </p>
                                    <p>
                                        {{ form.submit() }}
                                    </p>
                                
                                </form>

                            </div>
                        </div>



                    </div>
                </div>

            </div>

            <div class="row mt-1">

                <div class="card w-100">
                    <div class="card-header p-0 text-center">
                        Trigger Watch
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="videoCheck">
                                    <label class="custom-control-label" for="videoCheck">Video</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="temperatureCheck">
                                    <label class="custom-control-label" for="temperatureCheck">Temperature</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="audioCheck">
                                    <label class="custom-control-label" for="audioCheck">Audio</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> 

        </div> 

    </div>


    <div class="row justify-content-start">

        <div class="col-6 m-1 p-0">
            
            <div class="card w-100">
                <div class="card-header p-0 text-center">
                    Event Log
                </div>
                <div class="card-body p-1">
                    Audio Trigger 1: 90 dB exceeded @ 13:56:21 01/03/2020
                </div>
            </div>

        </div> 

    </div>

{% endblock %}